/* button page style is here */
.nav-section a {
    background-color: #3e3b3e;
    text-align: center;
    max-width: 300px;
    padding: 6px 5px 5px 5px;
    font-size: 13px;
    display: block;
    margin: 2px;
    text-decoration: none;
    color: #FFF;
    font-family: 'Prompt';
    border-radius: 5px;
}
.nav-section a:hover{
    background-color: #3e3b3ee5;
}

/* generate invoices page style is here */