
@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Prompt');
/* button page style is here */
#buttonPage,
#invoicePage,
#paymentPage,
#transactionsPage,
#generatePage{
    margin: 0;
    background-color: #eae8eb;
    height: 100vh;
}
.invoice-page,
.button-page,
.generate-page{
    padding: 20px 45px;
}
.transactions-page,
.payment-page{
    padding: 35px 20px;
}
.nav-section a {
    background-color: #3e3b3e;
    text-align: center;
    max-width: 300px;
    padding: 6px 5px 5px 5px;
    font-size: 13px;
    display: block;
    margin: 2px;
    text-decoration: none;
    color: #FFF;
    font-family: 'Prompt';
    border-radius: 5px;
}
.nav-section a:hover{
    background-color: #3e3b3ee5;
}

/* generate invoices page style is here */
.invoice-page,
.generate-page{
    background-color: #eae8eb;
    padding: 25px 15px;
}
.invoice-page h3,
.generate-page h3{
    color: #413f42;
    margin: 0;
    font-family: 'Prompt';
    font-size: 15px;
}

.invoice-page .top-nav,
.generate-page .top-nav{
    background-color: #aba9ac ;
    padding: 11px 6px ;
    margin-top: 6px;
    border-radius: 3px;
}

.invoice-page .top-nav a,
.generate-page .top-nav a{
    background-color: transparent ;
    padding: 6px 12px ;
    border-radius: 3px;
    text-decoration: none;
    color: #FFF;
    font-family: 'Prompt';
    font-size: 13px;
}

.invoice-page .top-nav a.active,
.generate-page .top-nav a.active{
    background-color: #3e3b3e ;
}

/* generate page form section */
.invoice-page .form-section,
.generate-page .form-section {
    display: flex;
    gap: 30px;
    margin: 0 30px;
}

.invoice-page .form-section .right-form,
.invoice-page .form-section .left-form,
.generate-page .form-section .right-form,
.generate-page .form-section .left-form {
    width: 50%;
    text-align: right;
    padding: 5px;
}
.invoice-page .form-section .input-row,
.generate-page .form-section .input-row {
    margin-top: 2px;
}

.invoice-page .form-section label,
.generate-page .form-section label {
    font-family: 'Prompt';
    font-size: 14px;
    color: #413f42;
    font-weight: 600;
    margin-right: 20px;
}

.invoice-page .form-section .input-date,
.generate-page .form-section .input-date {
    font-family: 'prompt';
    border: 1px solid #aba9acb2;
    border-radius: 3px;
    padding: 4px;
    min-width: 190px;
    color: #767676;
}

.invoice-page .form-section .input-day,
.generate-page .form-section .input-day {
    font-family: 'prompt';
    border: 1px solid #aba9acb2;
    background-color: #fefe9c;
    border-radius: 3px;
    padding: 4px;
    width: 105px;
}

.invoice-page .form-section .input-number,
.generate-page .form-section .input-number {
    font-family: 'prompt';
    border: 1px solid #aba9acb2;
    border-radius: 3px;
    padding: 4px;
    width: 105px;
    color: #767676;
}

.invoice-page .form-section select,
.generate-page .form-section select {
    font-family: 'prompt';
    border: 1px solid #aba9acb2;
    border-radius: 3px;
    padding: 4px;
    min-width: 400px;
    color: #767676;
}

.invoice-page .form-section .right-form input,
.generate-page .form-section .right-form input {
    font-family: 'prompt';
    border: 1px solid #aba9acb2;
    border-radius: 3px;
    padding: 4px;
    width: 188px;
}
.invoice-page .form-btn-div,
.generate-page .form-btn-div {
    display: flex;
    justify-content: space-between;
}

.invoice-page .form-btn-div button,
.generate-page .form-btn-div button {
    background-color: #676769;
    text-align: center;
    width: 130px;
    padding: 6px 5px 5px 5px;
    font-size: 12px;
    display: block;
    margin: 6px 2px ;
    text-decoration: none;
    color: #FFF;
    border: 1px solid #aba9acb2;
    font-family: 'Prompt';
    border-radius: 5px;
    cursor: pointer;
}
.invoice-page .form-btn-div button:hover,
.generate-page .form-btn-div button:hover {
    background-color: #676769ef;
}

/* generate page table style is here */
.invoice-page table{
    width: 100%;
    border-collapse: collapse;
    background-color: #FFF;
    margin-top: 30px;
}
.generate-page table {
    width: 100%;
    border-collapse: collapse;
    background-color: #feff90;
    margin-top: 30px;
}
.invoice-page th{
    background-color: #aba9ac;
    color: #FFF;
    padding: 8px 10px !important;
    text-align: left;
    font-size: 11px;
    font-family: 'Prompt';
    font-weight: 600;
}

.generate-page th {
    background-color: #aba9ac;
    color: #FFF;
    padding: 8px 10px !important;
    text-align: left;
    font-size: 11px;
    font-family: 'Prompt';
    font-weight: 600;
}
.invoice-page td{
    padding: 3px 4px !important;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 10px;
    font-family: 'Prompt';
    font-weight: 600;
    color: #000000de;
}

.generate-page td {
    padding: 2px 4px !important;
    border: 1px solid #f3f0a3;
    text-align: left;
    font-size: 11px;
    font-family: 'Prompt';
    font-weight: 600;
    color: #000000de;
}
.invoice-page tr:hover 
.generate-page tr:hover {
    background-color: #fffe4b;
}
.invoice-page .action-buttons{
    text-align: center;
}
.generate-page .action-buttons {
    display: flex;
    justify-content: space-around;
}
.invoice-page .action-buttons button,
.generate-page .action-buttons button {
    padding: 2px 10px;
    font-size: 11px;
    background-color: #776b75;
    border: none;
    font-weight: 600;
    font-family: 'Prompt';
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
}

 /* payment page style */
 .payment-page .top-nav {
    border-bottom: 6px solid #aba9ac;
}

.payment-page .top-nav h3 {
    padding: 6px 12px;
    border-radius: 3px 3px 0px 0px;
    color: #FFF;
    background-color: #3e3b3e;
    font-family: 'Prompt';
    font-size: 13px;
    max-width: 112px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

/* payment page form section */
.payment-page .form-section {
    display: flex;
    gap: 30px;
    margin: 0 30px;
}

.payment-page .form-section .right-form,
.payment-page .form-section .left-form {
    width: 50%;
    text-align: right;
    padding: 5px;
}

.payment-page .form-section .input-row {
    margin-top: 2px;
}

.payment-page .form-section label {
    font-family: 'Prompt';
    font-size: 14px;
    color: #413f42;
    font-weight: 600;
    margin-right: 20px;
}

.payment-page .form-section input {
    font-family: 'prompt';
    border: 1px solid #aba9acb2;
    border-radius: 3px;
    padding: 4px;
    color: #767676;
}

.payment-page .form-section .right-form input {
    font-family: 'prompt';
    border: 1px solid #aba9acb2;
    border-radius: 3px;
    padding: 4px;
    min-width: 400px;
    color: #767676;
}

.payment-page .form-section .input-row select {
    font-family: 'prompt';
    border: 1px solid #aba9acb2;
    border-radius: 3px;
    padding: 4px;
    min-width: 400px;
    color: #767676;
}

.payment-page .table-btn-div,
.payment-page .form-btn-div {
    display: flex;
    justify-content: space-between;
}

.payment-page .table-btn-div button,
.payment-page .form-btn-div button {
    background-color: #aba9ac85;
    text-align: center;
    width: 130px;
    padding: 6px 5px 5px 5px;
    font-size: 12px;
    display: block;
    margin: 6px 2px;
    color: #FFF;
    border: 1px solid #6767696c;
    font-family: 'Prompt';
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.payment-page .table-btn-div button {
    width: 200px;
    margin-top: 10px;
    letter-spacing: 0.5px;
}

.payment-page .table-btn-div button:hover,
.payment-page .form-btn-div button:hover {
    background-color: #676769b0;
}

/* payment table style */

.payment-page table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFF;
    margin-top: 30px;
}

.payment-page table label {
    margin-right: 10px;
    margin-left: -50px;
}

.payment-page table input {
    font-family: 'Inter';
    border: 1px solid #aba9acb2;
    border-radius: 3px;
    padding: 5px;
    color: #767676;
    width: 60%;
    margin: 4px 25px 4px 0;
    background-color: transparent;
}

.payment-page th {
    background-color: #474547;
    color: #FFF;
    border-left: 1px solid #aaa9aa;
    padding: 11px !important;
    text-align: center;
    font-size: 11px;
    font-family: 'Prompt';
    font-weight: 600;
}

.payment-page td {
    padding: 2px 4px !important;
    border: 1px solid #aaa9aa;
    text-align: left;
    font-size: 11px;
    font-family: 'Prompt';
    font-weight: 600;
    color: #000000de;
    height: 20px;
}

.payment-page tr:hover {
    background-color: #dddddd4b;
}

.payment-page .bottom-row {
    background-color: #dddddd4b;
}

.payment-page .detail-row {
    border-top: none !important;
    border: 1px solid #aaa9aa;
    display: flex;
    background-color: #FFF !important;
}

.payment-page .detail-row p {
    font-family: 'Inter';
    margin: 6px;
    font-size: 12px;
    font-weight: 600;
    text-align: right;
}

/* transaction page style */

.transactions-page table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFF;
    border: 1px solid #b0afb0;
}

.transactions-page th {
    background-color: #918e91;
    color: #FFF;
    padding: 4px !important;
    text-align: left;
    font-size: 11px;
    font-family: 'Prompt';
    font-weight: 600;
}

.transactions-page td {
    padding: 2px 4px !important;
    border: 1px solid #aaa9aa;
    text-align: left;
    font-size: 11px;
    font-family: 'Prompt';
    font-weight: 600;
    color: #000000de;
}

.transactions-page tr:hover {
    background-color: #dddddd4b;
}

.transactions-page h2 {
    font-family: 'Inter';
    font-weight: 600;
    margin-bottom: 11px;
    font-size: 21px;
    margin-top: 22px;
}

.transactions-page p {
    font-weight: 600;
    font-family: 'Inter';
    font-size: 13px;
}

.transactions-page .owed-div {
    display: flex;
    margin-top: 50px;
    border-top: 1px solid #d4d2d4;
}

.transactions-page .owed-div-inner {
    width: 50%;
    margin: 5px;
    padding: 0 10px 20px 0px;
}

.transactions-page .owed-div-inner:nth-child(1) {
    border-right: 1px solid #d4d2d4;
}

.transactions-page .owed-div-inner h4 {
    font-family: 'Inter';
    margin-bottom: 12px;
}

.transactions-page .owed-div-inner span {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 600;
}

.transactions-page .total-owed-div {
    display: flex;
    border-top: 1px solid #d4d2d4;
    justify-content: end;
    margin-bottom: 15px;
}

.transactions-page .total-owed-div p {
    text-align: right;
    font-size: 12px;
}

.transactions-page .total-owed-div-inner {
    width: 50%;
}

/* transactions page button style */

.transactions-page .transaction-btn-div {
    display: flex;
    justify-content: end;
    background-color: #989798;
    padding: 10px 15px;
}

.transactions-page .transaction-btn-div button {
    background-color: #676668;
    text-align: center;
    width: 180px;
    padding: 6px 5px 5px 5px;
    font-size: 12px;
    display: block;
    margin: 6px;
    color: #FFF;
    border: 1px solid #6767696c;
    font-family: 'Prompt';
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.transactions-page .table-btn-div button {
    width: 200px;
    margin-top: 10px;
}

.transactions-page .transaction-btn-div button:hover {
    background-color: #676769ce;
}